.search-options {
  display: flex;
  margin-top: 16px; 
}

.search-option {
  margin-right: 28px; 
}

.search-option a {
  font-size: 20px;
  text-decoration: none;
  color: #1a0dab;
}

.search-option a:hover {
  text-decoration: underline;
}
