.search-results {
  margin-top: 28px; 
}

.result-item a {
  font-size: 22px; 
  text-decoration: none;
  color: #488bf6; 
}

.result-item a:hover {
  text-decoration: underline;
}

.result-item p {
  color: #545454;
  font-size: 18px; 
}